/* Make only Rhyno and Zebra blue */

.africafour {
    color: blue;
}

/* Make only hufflepuff gold */

#casa {
    color: gold ;
}

/* Select Duck with the highest level of specificity */

h2.likesquack.fightduck {
    color: gray;
}

/* Select Rhino with the highest level of specificity */